<!DOCTYPE html>

<html>
    <head>
        <title> {{ title }} </title>
        <meta charset="utf-8">
        <link rel=stylesheet href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body style="background-color: #272D2F;">
        
        <script type="text/javascript">
            function preloader(){
                    setTimeout(() => {
                    document.getElementById("loading").style.display = "none";
                    document.getElementById("content").style.display = "block";
                    }, 7000)
            }

            function testContent() {
                    if (document.getElementById("state").getAttribute('content') == 'Gestisci Account') {
                        document.getElementById("login").style.display = 'None';
                    }
                }
            
            function callTwo() {
                preloader()
                testContent()
            }
            window.onload = callTwo;
        </script>

        <div id="loading">
            <img src="{{ url_for('static', filename='loading.gif') }}" alt="this slowpoke moves"  width="200" />
        </div>
        <div id="content">
            <div id="account">
                <button content="{{ stato }}" id="state" onclick='window.location.replace("/account")'>{{stato}}</button>
                <button content="Accedi" id="login" onclick='window.location.replace("/login")'>Accedi</button>
            </div>
            <div id="infos">
                <h1 id="slogan">{{slogan}}</h1>
                <h4 id="subtitle">Your order, your food, your style.</h4>
            </div>

            <div id="images">
                <img src="{{ url_for('static', filename='pizza.jpg')}}" id="pizza" >
                <img src="{{ url_for('static', filename='burger.jpg')}}" id="burger" >
                <img src="{{ url_for('static', filename='frutta.jpg')}}" id="frutta" >
            </div>
        </div>
    </body>
</html>