<!DOCTYPE html>

<html>
    <head>
        <title> Loading... </title>
        <meta charset="utf-8">
        <link rel=stylesheet href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body style="background-color: #272D2F;">
        
        <script type="text/javascript">
            function preloader(){
                setTimeout(() => {
                    window.location.replace("/{{redirect}}");
                }, 7000)
            }
            window.onload = preloader;
        </script>

        <div id="loading">
            <img src="{{ url_for('static', filename='loading.gif') }}" alt="this slowpoke moves"  width="200" />
        </div>
    </body>
</html>